body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:2789px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u2137_div {
  position:absolute;
  left:0px;
  top:0px;
  width:374px;
  height:747px;
  background:inherit;
  background-color:rgba(27, 27, 27, 0.407843137254902);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2137 {
  position:absolute;
  left:1556px;
  top:135px;
  width:374px;
  height:747px;
}
#u2138 {
  position:absolute;
  left:2px;
  top:366px;
  width:370px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2139 {
  position:absolute;
  left:0px;
  top:0px;
  width:0px;
  height:0px;
}
#u2140_div {
  position:absolute;
  left:0px;
  top:0px;
  width:275px;
  height:129px;
  background:inherit;
  background-color:rgba(255, 255, 255, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(119, 119, 119, 1);
  border-radius:18px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2140 {
  position:absolute;
  left:1605px;
  top:335px;
  width:275px;
  height:129px;
}
#u2141 {
  position:absolute;
  left:2px;
  top:56px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2142_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2142 {
  position:absolute;
  left:1661px;
  top:435px;
  width:57px;
  height:17px;
  text-align:center;
}
#u2143 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  white-space:nowrap;
}
#u2144_div {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  height:17px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u2144 {
  position:absolute;
  left:1782px;
  top:432px;
  width:57px;
  height:17px;
}
#u2145 {
  position:absolute;
  left:0px;
  top:0px;
  width:57px;
  word-wrap:break-word;
}
#u2146_div {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  height:33px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  text-align:center;
}
#u2146 {
  position:absolute;
  left:1644px;
  top:370px;
  width:214px;
  height:33px;
  text-align:center;
}
#u2147 {
  position:absolute;
  left:0px;
  top:0px;
  width:214px;
  word-wrap:break-word;
}
#u2148_img {
  position:absolute;
  left:0px;
  top:0px;
  width:276px;
  height:2px;
}
#u2148 {
  position:absolute;
  left:1605px;
  top:418px;
  width:275px;
  height:1px;
}
#u2149 {
  position:absolute;
  left:2px;
  top:-8px;
  width:271px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2150_img {
  position:absolute;
  left:0px;
  top:0px;
  width:2px;
  height:46px;
}
#u2150 {
  position:absolute;
  left:1742px;
  top:418px;
  width:1px;
  height:45px;
}
#u2151 {
  position:absolute;
  left:2px;
  top:14px;
  width:1px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2152 {
  position:absolute;
  left:1811px;
  top:449px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#0000FF;
  text-align:left;
}
#u2152_seg0 {
  position:absolute;
  left:-4px;
  top:0px;
  width:8px;
  height:84px;
}
#u2152_seg1 {
  position:absolute;
  left:-10px;
  top:-7px;
  width:20px;
  height:21px;
}
#u2152_seg2 {
  position:absolute;
  left:-10px;
  top:67px;
  width:20px;
  height:20px;
}
#u2153 {
  position:absolute;
  left:-50px;
  top:32px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2154_img {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  height:17px;
}
#u2154 {
  position:absolute;
  left:1768px;
  top:529px;
  width:85px;
  height:17px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:14px;
  color:#FFFFFF;
}
#u2155 {
  position:absolute;
  left:0px;
  top:0px;
  width:85px;
  white-space:nowrap;
}
#u2156_div {
  position:absolute;
  left:0px;
  top:0px;
  width:94px;
  height:39px;
  background:inherit;
  background-color:rgba(228, 228, 228, 1);
  box-sizing:border-box;
  border-width:1px;
  border-style:solid;
  border-color:rgba(121, 121, 121, 1);
  border-radius:9px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2156 {
  position:absolute;
  left:1642px;
  top:518px;
  width:94px;
  height:39px;
  font-family:'微软雅黑 Bold', '微软雅黑 Regular', '微软雅黑';
  font-weight:700;
  font-style:normal;
  font-size:12px;
}
#u2157 {
  position:absolute;
  left:2px;
  top:12px;
  width:90px;
  word-wrap:break-word;
}
#u2158 {
  position:absolute;
  left:1690px;
  top:452px;
  width:0px;
  height:0px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:18px;
  color:#0000FF;
  text-align:left;
}
#u2158_seg0 {
  position:absolute;
  left:-5px;
  top:-4px;
  width:5px;
  height:8px;
}
#u2158_seg1 {
  position:absolute;
  left:-15px;
  top:-10px;
  width:21px;
  height:20px;
}
#u2158_seg2 {
  position:absolute;
  left:-9px;
  top:55px;
  width:21px;
  height:21px;
}
#u2159 {
  position:absolute;
  left:-51px;
  top:-8px;
  width:100px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2160_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1233px;
  height:64px;
}
#u2160 {
  position:absolute;
  left:1556px;
  top:61px;
  width:1233px;
  height:64px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#666666;
}
#u2161 {
  position:absolute;
  left:0px;
  top:0px;
  width:1233px;
  white-space:nowrap;
}
#u2162_img {
  position:absolute;
  left:0px;
  top:0px;
  width:589px;
  height:399px;
}
#u2162 {
  position:absolute;
  left:1556px;
  top:906px;
  width:589px;
  height:399px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u2163 {
  position:absolute;
  left:0px;
  top:8px;
  width:589px;
  white-space:nowrap;
}
#u2164_div {
  position:absolute;
  left:0px;
  top:0px;
  width:1084px;
  height:76px;
  background:inherit;
  background-color:rgba(255, 255, 255, 0);
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2164 {
  position:absolute;
  left:36px;
  top:61px;
  width:1084px;
  height:76px;
  font-family:'Arial Negreta', 'Arial Normal', 'Arial';
  font-weight:700;
  font-style:normal;
}
#u2165 {
  position:absolute;
  left:0px;
  top:0px;
  width:1084px;
  white-space:nowrap;
}
#u2166_img {
  position:absolute;
  left:0px;
  top:0px;
  width:1412px;
  height:2744px;
}
#u2166 {
  position:absolute;
  left:36px;
  top:166px;
  width:1412px;
  height:2744px;
}
#u2167 {
  position:absolute;
  left:2px;
  top:1364px;
  width:1408px;
  visibility:hidden;
  word-wrap:break-word;
}
