body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:631px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u6023 {
  position:absolute;
  left:21px;
  top:19px;
  width:615px;
  height:297px;
}
#u6024_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u6024 {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:36px;
}
#u6025 {
  position:absolute;
  left:2px;
  top:10px;
  width:131px;
  word-wrap:break-word;
}
#u6026_img {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:36px;
}
#u6026 {
  position:absolute;
  left:135px;
  top:0px;
  width:475px;
  height:36px;
}
#u6027 {
  position:absolute;
  left:2px;
  top:10px;
  width:471px;
  word-wrap:break-word;
}
#u6028_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:200px;
}
#u6028 {
  position:absolute;
  left:0px;
  top:36px;
  width:135px;
  height:200px;
}
#u6029 {
  position:absolute;
  left:2px;
  top:92px;
  width:131px;
  word-wrap:break-word;
}
#u6030_img {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:200px;
}
#u6030 {
  position:absolute;
  left:135px;
  top:36px;
  width:475px;
  height:200px;
  text-align:left;
}
#u6031 {
  position:absolute;
  left:2px;
  top:12px;
  width:471px;
  word-wrap:break-word;
}
#u6032_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:28px;
}
#u6032 {
  position:absolute;
  left:0px;
  top:236px;
  width:135px;
  height:28px;
}
#u6033 {
  position:absolute;
  left:2px;
  top:6px;
  width:131px;
  word-wrap:break-word;
}
#u6034_img {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:28px;
}
#u6034 {
  position:absolute;
  left:135px;
  top:236px;
  width:475px;
  height:28px;
  color:#000000;
  text-align:left;
}
#u6035 {
  position:absolute;
  left:2px;
  top:6px;
  width:471px;
  word-wrap:break-word;
}
#u6036_img {
  position:absolute;
  left:0px;
  top:0px;
  width:135px;
  height:28px;
}
#u6036 {
  position:absolute;
  left:0px;
  top:264px;
  width:135px;
  height:28px;
}
#u6037 {
  position:absolute;
  left:2px;
  top:6px;
  width:131px;
  word-wrap:break-word;
}
#u6038_img {
  position:absolute;
  left:0px;
  top:0px;
  width:475px;
  height:28px;
}
#u6038 {
  position:absolute;
  left:135px;
  top:264px;
  width:475px;
  height:28px;
  color:#000000;
  text-align:left;
}
#u6039 {
  position:absolute;
  left:2px;
  top:6px;
  width:471px;
  word-wrap:break-word;
}
